#app,
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.section {
  margin-bottom: 40px;
}
.title {
  font-size: 40px;
  color: #000;
}
.link {
  color: #666;
  text-decoration: none;
}
.link:hover {
  color: #000;
}
.nav {
  margin-bottom: 20px;
}
.nav .item {
  color: #666;
  margin: 0 10px 20px;
}
.nav .cur {
  color: #000;
  font-weight: bold;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60px;
  font-size: 14px;
  color: #333;
  margin-right: 20px;
}
.input {
  display: flex;
  align-items: center;
  width: 240px;
  height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 10px;
}
.button {
  padding: 5px 20px;
  cursor: pointer;
}